/*
 * Service class 
 * Created on $today.date ( Time $today.time )
 */

package ${target.javaPackageFromFolder(${SRC})};

import java.util.List;

import ${ENTITY_PKG}.${beanClass.name};
import ${DAO_PKG}.${beanClass.name}DAO;
import org.telosys.starterkits.springjpa.EntityManagerHelper;
import org.telosys.starterkits.springjpa.IService;
import javax.persistence.PersistenceException;

import com.opensymphony.xwork2.util.logging.Logger;
import com.opensymphony.xwork2.util.logging.LoggerFactory;

#if ( $beanClass.hasCompositePrimaryKey() )
import org.demo.${beanClass.name.toLowerCase()}.bean.${beanClass.name}Key;
#set( $keyType = "${beanClass.name}Key" )
#set( $keyName = "id" )
#else
#foreach( $field in $entity.keyAttributes )
#set( $keyType = "$field.wrapperType" )
#set( $keyName = "$field.formatedName(0)" )
#end
#end

public class ${beanClass.name}Service implements IService<${beanClass.name}, ${keyType}> {

	protected final Logger LOG = LoggerFactory.getLogger(${beanClass.name}Service.class);

	public ${beanClass.name} load(final ${keyType} ${keyName}) {
		if (LOG.isDebugEnabled()) LOG.debug("load");
		${beanClass.name} ${beanClass.name.toLowerCase()};
		try {
			EntityManagerHelper.beginTransaction();
			${beanClass.name}DAO ${beanClass.name.toLowerCase()}DAO = new ${beanClass.name}DAO();
			${beanClass.name.toLowerCase()} = ${beanClass.name.toLowerCase()}DAO.findById(${keyName});
			EntityManagerHelper.commitAndCloseEntityManager();
		} catch (PersistenceException ex) {
			LOG.error("Error", ex);
			throw ex;
		} finally {
			if (EntityManagerHelper.isCloseEntityManager() == false) EntityManagerHelper.rollback();
		}
		return ${beanClass.name.toLowerCase()} ;
	}

	public ${beanClass.name} save(final ${beanClass.name} entity) {
		if (LOG.isDebugEnabled()) LOG.debug("save");
		${beanClass.name} entityNew;
		try {
			EntityManagerHelper.beginTransaction();
			${beanClass.name}DAO ${beanClass.name.toLowerCase()}DAO = new ${beanClass.name}DAO();
			entityNew = ${beanClass.name.toLowerCase()}DAO.update(entity);
			EntityManagerHelper.commitAndCloseEntityManager();
		} catch (PersistenceException ex) {
			LOG.error("Error", ex);
			throw ex;
		} finally {
			if (EntityManagerHelper.isCloseEntityManager() == false) EntityManagerHelper.rollback();
		}
		return entityNew;
	}

	public void delete(final ${keyType} ${keyName}) {
		if (LOG.isDebugEnabled()) LOG.debug("delete");
		try {
			EntityManagerHelper.beginTransaction();
			${beanClass.name}DAO ${beanClass.name.toLowerCase()}DAO = new ${beanClass.name}DAO();
			${beanClass.name.toLowerCase()}DAO.delete(${keyName});
			EntityManagerHelper.commitAndCloseEntityManager();	
		} catch (PersistenceException ex) {
			LOG.error("Error", ex);
			throw ex;
		} finally {
			if (EntityManagerHelper.isCloseEntityManager() == false) EntityManagerHelper.rollback();
		}
	}

	public List<${beanClass.name}> search(final ${beanClass.name} ${beanClass.name.toLowerCase()}) {
		if (LOG.isDebugEnabled()) LOG.debug("search");
		List<${beanClass.name}> liste;
		try {
			EntityManagerHelper.beginTransaction();
			${beanClass.name}DAO ${beanClass.name.toLowerCase()}DAO = new ${beanClass.name}DAO();
			liste = ${beanClass.name.toLowerCase()}DAO.search(${beanClass.name.toLowerCase()});
			EntityManagerHelper.commitAndCloseEntityManager();
		} catch (PersistenceException ex) {
			LOG.error("Error", ex);
			throw ex;
		} finally {
			if (EntityManagerHelper.isCloseEntityManager() == false) EntityManagerHelper.rollback();
		}
		return liste;
	}

	public List<${beanClass.name}> loadAll() {
		if (LOG.isDebugEnabled()) LOG.debug("loadAll");
		List<${beanClass.name}> liste;
		try {
			EntityManagerHelper.beginTransaction();
			${beanClass.name}DAO ${beanClass.name.toLowerCase()}DAO = new ${beanClass.name}DAO();
			liste = ${beanClass.name.toLowerCase()}DAO.loadAll();
			EntityManagerHelper.commitAndCloseEntityManager();
		} catch (PersistenceException ex) {
			LOG.error("Error", ex);
			throw ex;
		} finally {
			if (EntityManagerHelper.isCloseEntityManager() == false) EntityManagerHelper.rollback();
		}
		return liste;
	}

}
