/*
 * Controller class 
 * Created on $today.date ( Time $today.time )
 */

package ${target.javaPackageFromFolder(${SRC})};

import java.util.List;

import javax.annotation.Resource;

import org.springframework.stereotype.Controller;
import org.springframework.validation.BindingResult;
import org.springframework.web.bind.annotation.ModelAttribute;
import org.springframework.web.bind.annotation.PathVariable;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RequestMethod;
import org.springframework.web.servlet.ModelAndView;

import ${ENTITY_PKG}.${beanClass.name};

## Clé primaire
#if ( $beanClass.hasCompositePrimaryKey() )
import ${ENTITY_PKG}.${beanClass.name}Id;
#set( $keyType = "${beanClass.name}Id" )
#set( $keyName = "id" )
#set( $keySetter = "setId" )
#set( $keyGetter = "getId" )
#else
#foreach( $field in $entity.keyAttributes )
#set( $keyType = "$field.wrapperType" )
#set( $keyName = "$field.formatedName(0)" )
#set( $keyField = $field )
#set( $keySetter = $field.setter )
#set( $keyGetter = $field.getter )
#end
#end
import ${SERVICE_PKG}.${beanClass.name}Service;

/**
 * ${beanClass.name}.
 */
@Controller
@RequestMapping("/${beanClass.name.toLowerCase()}*")
public class ${beanClass.name}Controller 
{
	@Resource
    private ${beanClass.name}Service ${beanClass.name.toLowerCase()}Service;

	@RequestMapping("/create")
	public ModelAndView create() {
		return new ModelAndView("${beanClass.name.toLowerCase()}/${beanClass.name.toLowerCase()}", "${beanClass.name.toLowerCase()}Form", new  ${beanClass.name}());
	}

	@RequestMapping(value = "/list")
	public ModelAndView show${beanClass.name}s() {
		ModelAndView mav = new ModelAndView("${beanClass.name.toLowerCase()}/${beanClass.name.toLowerCase()}List");
		List<${beanClass.name}> list = ${beanClass.name.toLowerCase()}Service.loadAll();
		mav.addObject("list${beanClass.name}s", list);
		return mav;
	}

	@RequestMapping(value = "/save", method = RequestMethod.POST)
	public String save(@ModelAttribute("${beanClass.name.toLowerCase()}Form") ${beanClass.name} ${beanClass.name.toLowerCase()}, BindingResult result) {
		if (!result.hasErrors()) {
			${beanClass.name.toLowerCase()}Service.save(${beanClass.name.toLowerCase()});
		}
		return "redirect:/${beanClass.name.toLowerCase()}/search";
	}

#set( $keyURLPath = "")
#set( $keyPathVariable = "")
#foreach( $field in $entity.keyAttributes )
#set( $keyURLPath = $keyURLPath+"/{"+${field.formatedName(0)}+"}" )
#set( $keyPathVariable = $keyPathVariable+", @PathVariable("""+${field.formatedName(0)}+""") "+${field.wrapperType}+" "+${field.formatedName(0)} )
#end
	@RequestMapping(value = "/edit${keyURLPath}")
	public ModelAndView edit(@ModelAttribute("${beanClass.name.toLowerCase()}/edit") ${beanClass.name} ${beanClass.name.toLowerCase()}$keyPathVariable) {
		ModelAndView modelAndView = new ModelAndView("${beanClass.name.toLowerCase()}/${beanClass.name.toLowerCase()}");

#if ( $beanClass.hasCompositePrimaryKey() )
		$keyType $keyName = new $keyType();
#foreach( $field in $entity.keyAttributes )
		${keyName}.${field.setter}($field.formatedName(0));
#end

#end
		${beanClass.name} ${beanClass.name.toLowerCase()}loaded = ${beanClass.name.toLowerCase()}Service.load($keyName);

		modelAndView.addObject("${beanClass.name.toLowerCase()}Form", ${beanClass.name.toLowerCase()}loaded);
		return modelAndView;
	}
}
