#---------------------------------------------------------
# Specific templates configuration file
# 4 values separated by ";"
# . value 1 : the label
# . value 2 : the file to be generated ( var allowed : ${BEANNAME}, ${BEANNAME_UC}, ${BEANNAME_LC} )
# . value 3 : the project folder where to generate ( var allowed : ${BEANNAME}, ${BEANNAME_UC}, ${BEANNAME_LC} )
# . value 4 : the template to use
#---------------------------------------------------------
# Since v 2.0 the project's variables can be used in file and folder name
#---------------------------------------------------------
Spring JSP form        	; ${BEANNAME_LC}.jsp		; ${WEB}/WEB-INF/pages/${BEANNAME_LC}     ; spring_jsp_form.vm
Entity Bean Services	; ${BEANNAME}Services.java	; ${SRC}/org/demo/${BEANNAME_LC}/service  ; bean_service.vm

# Text documentation ; doc${BEANNAME}.txt   ; doc/text ; vo_doc_text.vm
#HTML documentation ; ${BEANNAME}.html     ; doc/html ; vo_doc_html.vm 
#DEBUG Context Variables ; ${BEANNAME}_vars.txt     ; doc/text ; context_vars.vm 
