#set( $_ = "$" )
## Macro
## Champs de la clé primaire qui ne sont pas dans les liens
#macro( isFieldUsedInLinks, $field, $links )
#set( $isFieldUsedInLinks = false )
#foreach( $link in $links )
#if( !$link.isCardinalityManyToMany() && !$link.isCardinalityOneToMany() )
#foreach( $joinColumn in $link.joinColumns )
#if( $joinColumn == $field.databaseName )
#set( $isFieldUsedInLinks = true )
#end
#end
#end
#end
#end
## Liens utilisant les champs
#macro( isLinkUsedByFields, $link, $fields)
#set( $isLinkUsedByFields = false )
#if( !$link.isCardinalityManyToMany() && !$link.isCardinalityOneToMany() )
#foreach( $field in $fields )
#foreach( $joinColumn in $link.joinColumns )
#if( $joinColumn == $field.databaseName )
#set( $isLinkUsedByFields = true )
#end
#end
#end
#end
#end
## Informations sur la clé primaire d'une entité
#macro( defineKeyInfoForEntity, $entity )
#if ( $entity.hasCompositePrimaryKey() )
#set( $keyType = "${entity.name}Id" )
#set( $keyName = "id" )
#set( $keySetter = "setId" )
#set( $keyGetter = "getId" )
#else
#set( $keyField = $entity.keyAttributes[0] )
#set( $keyType = "$keyField.wrapperType" )
#set( $keyName = "$keyField.formatedName(0)" )
#set( $keySetter = $keyField.setter )
#set( $keyGetter = $keyField.getter )
#end
#end
#defineKeyInfoForEntity( $entity )
##--------------------------------------------------------------------------------------------------------
## PRIMARY KEY IN URL
## keyURLPath
## keyPathVariable
## keyGetterToArg
#set( $keyURLPath = "")
#if ( $entity.hasCompositePrimaryKey() )
## FIELDS
#foreach( $field in $entity.keyAttributes )
#isFieldUsedInLinks( $field, $entity.selectedLinks )
#if( ! $isFieldUsedInLinks )
#set( $keyURLPath = $keyURLPath+"/${"+${entity.name.toLowerCase()}+"."+${field.formatedName(0)}+"}" )
#end
#end
## LINKS
#foreach( $link in $entity.selectedLinks )
#isLinkUsedByFields( $link, $entity.keyAttributes )
#if( $isLinkUsedByFields )
#set( $linkEntity = $model.getEntityByClassName($link.targetEntity) )
#foreach( $field in $linkEntity.keyAttributes )
#set( $keyURLPath = $keyURLPath+"/${"+${entity.name.toLowerCase()}+"."+${link.formatedName(0)}+"."+${field.formatedName(0)}+"}" )
#end
#end
#end
#else
#set( $keyURLPath = $keyURLPath+"/${"+${entity.name.toLowerCase()}+"."+${keyName}+"}" )
#end
##--------------------------------------------------------------------------------------------------------
<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:joda="http://www.joda.org/joda/time/tags" xmlns:s="http://www.springframework.org/tags" xmlns:form="http://www.springframework.org/tags/form" version="2.0">
<jsp:directive.page contentType="text/html;charset=UTF-8"/>
<jsp:output omit-xml-declaration="yes"/>

	<div class="container">
		<fieldset class="col-sm-12 bordure">
			<legend class="legende"><s:message code="${beanClass.name.toLowerCase()}"/></legend>
		
			<c:if test="${_}{not empty message}">
				<div id="message" class="alert alert-${_}{message.type.css}"><s:message code="${_}{message.message}"/></div>
			</c:if>

	    
	    	<s:url value="/${beanClass.name.toLowerCase()}" var="url_form_submit" />
			<form:form modelAttribute="${beanClass.name.toLowerCase()}" cssClass="well" method="PUT" action="${_}{url_form_submit}">
				<table>
## FIELDS
#foreach( $field in $entity.attributes )
#isFieldUsedInLinks( $field, $entity.selectedLinks )
#if( ! $isFieldUsedInLinks )
					<tr>
						<th align="left"><s:message code="${beanClass.name.toLowerCase()}.${field.formatedName(0)}"/></th>
						<td>
#if( $field.wrapperType == "Boolean" )
							<form:checkbox path="$fieldName" class="form-control"/>
## #elseif( $field.wrapperType == "Date" )
##							<form:input path="$fieldName" id="${beanClass.name.toLowerCase()}_${fieldName}_input" class="form-control"/>
##							<script type="text/javascript">
##								$('#${beanClass.name.toLowerCase()}_${fieldName}_input').datepicker({
##								});
##							</script>
#else
							<form:input path="${field.formatedName(0)}" class="form-control"/>
#end
						</td>
						<td>
							<form:errors cssClass="alert alert-danger" id="_${field.formatedName(0)}_error_id" path="${field.formatedName(0)}" />
						</td>
					</tr>
#end
#end
## LINKS
#foreach( $link in $entity.selectedLinks )
#isLinkUsedByFields( $link, $entity.attributes )
#if( $isLinkUsedByFields )
#set( $linkEntity = $model.getEntityByClassName($link.targetEntity) )
#if ( $linkEntity.hasCompositePrimaryKey() )
#set( $linkKeyType = "${beanClass.name}Key" )
#set( $linkKeyName = "id" )
#else
#set( $linkKeyField = $linkEntity.keyAttributes[0] )
#set( $linkKeyType = "$linkKeyField.wrapperType" )
#set( $linkKeyName = "$linkKeyField.formatedName(0)" )
#end
					<tr>
						<th align="left"><s:message code="${beanClass.name.toLowerCase()}.${link.formatedName(0)}"/></th>
						<td><form:select class="form-control" id="_${link.formatedName(0)}_id" items="${_}{${link.targetEntity.toLowerCase()}s}" path="${link.formatedName(0)}.$linkKeyName" itemValue="$linkKeyName"/></td>
					</tr>
#end
#end
					<tr>
						<td colspan="2">
							<form:errors/>
						</td>
					</tr>
					<tr>
						<td colspan="2">
					 		<button type="submit" class="btn btn-info"><s:message code="save"/></button>
							<button type="reset" class="btn btn-info"><s:message code="reset"/></button>
							<s:url var="delete${beanClass.name}Url" value="/${beanClass.name.toLowerCase()}/delete${keyURLPath}"/>
							<a class="btn btn-info" href="${_}{delete${beanClass.name}Url}"><s:message code="delete"/></a>
							<s:url var="all${beanClass.name}Url" value="/${beanClass.name.toLowerCase()}"/>
							<a class="btn btn-info" href="${_}{all${beanClass.name}Url}"><s:message code="list"/></a>
						</td>
					</tr>
				</table>
			</form:form>
	    </fieldset>
	</div>	
</div>
