#set( $_ = "$" )
## Macro
## Champs de la clé primaire qui ne sont pas dans les liens
#macro( isFieldUsedInLinks, $field, $links )
#set( $isFieldUsedInLinks = false )
#foreach( $link in $links )
#if( !$link.isCardinalityManyToMany() && !$link.isCardinalityOneToMany() )
#foreach( $joinColumn in $link.joinColumns )
#if( $joinColumn == $field.databaseName )
#set( $isFieldUsedInLinks = true )
#end
#end
#end
#end
#end
## Liens utilisant les champs
#macro( isLinkUsedByFields, $link, $fields)
#set( $isLinkUsedByFields = false )
#if( !$link.isCardinalityManyToMany() && !$link.isCardinalityOneToMany() )
#foreach( $field in $fields )
#foreach( $joinColumn in $link.joinColumns )
#if( $joinColumn == $field.databaseName )
#set( $isLinkUsedByFields = true )
#end
#end
#end
#end
#end
## Informations sur la clé primaire d'une entité
#macro( defineKeyInfoForEntity, $entity )
#if ( $entity.hasCompositePrimaryKey() )
#set( $keyType = "${entity.name}Id" )
#set( $keyName = "id" )
#set( $keySetter = "setId" )
#set( $keyGetter = "getId" )
#else
#set( $keyField = $entity.keyAttributes[0] )
#set( $keyType = "$keyField.wrapperType" )
#set( $keyName = "$keyField.formatedName(0)" )
#set( $keySetter = $keyField.setter )
#set( $keyGetter = $keyField.getter )
#end
#end
#defineKeyInfoForEntity( $entity )
##--------------------------------------------------------------------------------------------------------
## PRIMARY KEY IN URL
## keyURLPath
## keyPathVariable
## keyGetterToArg
#set( $keyURLPath = "")
#if ( $entity.hasCompositePrimaryKey() )
## FIELDS
#foreach( $field in $entity.keyAttributes )
#isFieldUsedInLinks( $field, $entity.selectedLinks )
#if( ! $isFieldUsedInLinks )
#set( $keyURLPath = $keyURLPath+"/${"+${entity.name.toLowerCase()}+"."+${field.formatedName(0)}+"}" )
#end
#end
## LINKS
#foreach( $link in $entity.selectedLinks )
#isLinkUsedByFields( $link, $entity.keyAttributes )
#if( $isLinkUsedByFields )
#set( $linkEntity = $model.getEntityByClassName($link.targetEntity) )
#foreach( $field in $linkEntity.keyAttributes )
#set( $keyURLPath = $keyURLPath+"/${"+${entity.name.toLowerCase()}+"."+${link.formatedName(0)}+"."+${field.formatedName(0)}+"}" )
#end
#end
#end
#else
#set( $keyURLPath = $keyURLPath+"{"+${keyName}+"}" )
#end
##--------------------------------------------------------------------------------------------------------
<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:joda="http://www.joda.org/joda/time/tags" xmlns:s="http://www.springframework.org/tags" xmlns:form="http://www.springframework.org/tags/form" version="2.0">
<jsp:directive.page contentType="text/html;charset=UTF-8"/>
<jsp:output omit-xml-declaration="yes"/>
	<div class="container">
		<fieldset class="col-sm-12 bordure">
			<legend class="legende"><s:message code="${beanClass.name.toLowerCase()}"/></legend>
		
			<c:if test="${_}{not empty message}">
				<div id="message" class="alert alert-${_}{message.type.css}"><s:message code="${_}{message.message}"/></div>
			</c:if>

			<table class="table table-striped">
				<thead>
					<tr>
## FIELDS
#foreach( $field in $entity.attributes )
#isFieldUsedInLinks( $field, $entity.selectedLinks )
#if( ! $isFieldUsedInLinks )
						<th><s:message code="${beanClass.name.toLowerCase()}.${field.formatedName(0)}"/></th>
#end
#end
## LINKS
#foreach( $link in $entity.selectedLinks )
#isLinkUsedByFields( $link, $entity.attributes )
#if( $isLinkUsedByFields )
						<th><s:message code="${beanClass.name.toLowerCase()}.${link.formatedName(0)}"/></th>
#end
#end
						<s:url value="/${beanClass.name.toLowerCase()}/create" var="url_create" />
						<th><a class="btn btn-info" href='${_}{url_create}'><s:message code="create"/></a></th>
					</tr>
				</thead>
				<tbody>
					<c:forEach items="${_}{list${beanClass.name}s}" var="${beanClass.name.toLowerCase()}">
						<tr>
## FIELDS
#foreach( $field in $entity.attributes )
#isFieldUsedInLinks( $field, $entity.selectedLinks )
#if( ! $isFieldUsedInLinks )
							<td>${_}{${beanClass.name.toLowerCase()}.${field.formatedName(0)}}</td>
#end
#end
## Lien vers les entités
## LINKS
#foreach( $link in $entity.selectedLinks )
#isLinkUsedByFields( $link, $entity.attributes )
#if( $isLinkUsedByFields )
							<td>${_}{${beanClass.name.toLowerCase()}.${link.formatedName(0)}}</td>
#end
#end
							<s:url var="edit${beanClass.name}Url" value="/${beanClass.name.toLowerCase()}$keyURLPath"/>
							<td><a class="btn btn-info" href="${_}{edit${beanClass.name}Url}"><s:message code="edit"/></a></td>
						</tr>
					</c:forEach>
				</tbody>
			</table>
		</fieldset>
	</div>
</div>